* {
    background-color: #323437;
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
}

.roboto-mono {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.center {
   text-align: center;
}

.title {
    color: #e8b414;
    margin: 2.5rem 0;
}




@media only screen and (max-width: 600px) {
    * {
        font-size: 16px;
    }
}

@media only screen and (min-width: 600px) {
    * {
        font-size: 16px;
    }
}

@media only screen and (min-width: 768px) {
    * {
        font-size: 18px;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 28px;
    }
    h4 {
        font-size: 24px;
    }
    h5 {
        font-size: 22px;
    }
    h6 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 992px) {
    * {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1200px) {
    * {
        font-size: 18px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 32px;
    }
    h4 {
        font-size: 28px;
    }
    h5 {
        font-size: 24px;
    }
    h6 {
        font-size: 20px;
    }
} 