* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f3f3f3;
}

#header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #29271E;
    padding: 30px 250px 7% 170px;
    box-shadow: 2px 5px 20px rgb(148, 148, 148);
    align-items: center;
}

#header-nav a {
    color: #b06c14;
    padding: 10px 10px;
    font-size: 20px;
}

#header-nav li {
    display: inline;
    font-size: 0;
}

#header-nav {
    font-size: 0;
}

#header-nav a:hover {
    border-bottom: dotted 2px #b06c14;
    color: white;
}

#header-nav a:link, #nav-menu a:visited {
    text-decoration: none;
}

main header {
    color: rgb(21, 116, 21);
    margin: 0 0 20px 0;
}

.banner img {
    height: 465px;
}

.banner {
    display: flex;
    position: absolute;
    top: 100px;
    left: 170px;
}

main article {
    position: absolute;
    top: 585px;
    left: 170px;
    display: flex;
    width: 1031.72px;
    flex-wrap: wrap;
}


article section {
    width: 50%;
    margin: 20px 0;
}

.exposicao {
    color: #b06c14;
}

.ler-mais a, .ler-mais {
    color: #b06c14;
    text-decoration: none;
    margin-top: 10px;
}

aside {
    position: absolute;
    top: 100px;
    right: 170px;
}

aside header {
    color: #755128;
}

aside figure img {
    height: 465px;
}

.agendamento {
    margin-top: 20px;
    padding: 40px;
    background-color: #CDC8B1;
    display: flex;
    flex-direction: column;
}

.agendamento p {
    margin: 10px 0 0 15px;
}

.agendamento input {
    padding: 10px;
    border: solid 1px #9B9271;
    font-size: 15px;
}

.botao-disponibilidade {
    margin-top: 20px;
    padding: 20px 50px;
    background-color: #9B9271;
    border: none;
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.galeria {
    background-color: #EBE7DD;
}