* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f3f3f3;
}

#header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #29271E;
    padding: 30px 250px 7% 170px;
    box-shadow: 2px 5px 20px rgb(148, 148, 148);
    align-items: center;
}

#header-nav a {
    color: #b06c14;
    padding: 10px 10px;
    font-size: 20px;
}

#header-nav li {
    display: inline;
    font-size: 0;
}

#header-nav {
    font-size: 0;
}

#header-nav a:hover {
    border-bottom: dotted 2px #b06c14;
    color: white;
}

#header-nav a:link, #nav-menu a:visited {
    text-decoration: none;
}

main header {
    color: rgb(21, 116, 21);
    margin: 0 0 20px 0;
}

.banner img {
    height: 465px;
    box-shadow: 0 10px 30px rgb(78, 77, 77);
}

.banner {
    display: flex;
    position: absolute;
    top: 100px;
    left: 170px;
}

main article {
    position: absolute;
    top: 585px;
    left: 170px;
    display: flex;
    width: 1031.72px;
    flex-wrap: wrap;
}


article section {
    width: 50%;
    margin: 20px 0;
}

.exposicao, .exposicao .ver-todos a, .ler-mais a { color: #b06c14; }

.ler-mais a, .ler-mais, .exposicao .ver-todos a{
    text-decoration: none;
    margin-top: 10px;
}

.historia {
    text-align: justify;
}

aside {
    position: absolute;
    top: 100px;
    right: 170px;
    width: 508.6px;
}

aside header {
    color: #755128;
}

.depoimento img {
    height: 465px;
    box-shadow: 0 10px 30px rgb(78, 77, 77);
}

.agendamento {
    margin-top: 20px;
    padding: 40px;
    background-color: #CDC8B1;
    display: flex;
    flex-direction: column;
}

.agendamento p {
    margin: 10px 0 0 15px;
}

.agendamento input {
    padding: 10px;
    border: solid 1px #9B9271;
    font-size: 15px;
}

.botao-disponibilidade {
    margin-top: 20px;
    padding: 20px 50px;
    cursor: pointer;
    background-color: #9B9271;
    border: none;
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.botao-disponibilidade:hover {
    background-color: #837c5f;
    box-shadow: 0 0 0 2px #8d704f inset;
}

.galeria {
    padding: 40px;
    background-color: #EBE7DD;
}

.galeria #fotos, .galeria #decks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.galeria #fotos {
    width: 300px;
    position: absolute;
    bottom: 100px;
    right: 100px;
}

.galeria #fotos img{
    position: relative;
    width: 110px;
    margin: 15px;
}

.galeria #decks { margin: 20px 0; }

.galeria #decks img {
    margin: 10px;
    width: 150px;
}

/* Top Gallery */
.galeria #bar, .galeria #alpendre { bottom: 17px; }

/* Bottom Gallery */
.galeria #vestido, .galeria #artes { bottom: -20px; }

/* All Photos Positioning */
.galeria #bar, .galeria #vestido { right: 19px; }

.galeria #alpendre, .galeria #artes { right: -11px; }

/* Footer Layout */
footer {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: -550px;
    text-align: center;
}

footer nav { margin: 20px; }

footer nav li {
    display: inline;
    padding: 0 15px;
}

footer nav li a:hover { border-bottom: dotted 2px #b06c14; }

footer nav a {
    text-decoration: none;
    color: #b06c14;
}

footer figure img{
    width: 850px;
    height: auto;
}

footer #enterprise {
    padding: 0 15px 30px 15px;
    color: #b06c14;
}